@if (vm(); as vm) {
  @let board = vm.board;
  <div class="flex flex-col h-full" [style.background-color]="board.backgroundColor">
    <div class="flex items-center justify-between gap-x-4 px-5 py-4 bg-black/50">
      <pln-board-title-form [value]="board.title" (changed)="changeTitle($event)" />
      <pln-board-options (deleted)="delete()" />
    </div>
    <div class="grow mb-2 p-4 overflow-x-auto overflow-y-hidden">
      <ol class="flex gap-x-3 h-full">
        @for (column of vm.columns; track column.id) {
          <li class="shrink-0 w-[272px] h-full select-none">
            <pln-column-card
              [column]="column"
              [tasks]="vm.tasks"
              (createdTask)="createTask($event, column.id)"
              (deleted)="deleteColumn($event)"
              (changedTitle)="changeColumnTitle($event, column.id)"
            />
          </li>
        }
        <div class="shrink-0 w-[272px] h-full">
          <pln-column-form (created)="createColumn($event)" />
        </div>
      </ol>
    </div>
  </div>
}
