<div class="flex flex-col items-center justify-center min-h-full p-4">
  <div class="w-full sm:max-w-lg p-8 text-center rounded-lg shadow-xl">
    <h1 class="mb-8 text-3xl font-bold">Sign up</h1>

    @if (failed()) {
      <p-message
        id="registration-failed-message"
        severity="error"
        icon="pi pi-times-circle"
        styleClass="mb-6"
        >Try again with another username or email</p-message
      >
    }

    <form class="flex flex-col gap-y-6 mb-8" [formGroup]="form" (ngSubmit)="submit()">
      <div class="flex flex-col gap-1">
        <input type="text" placeholder="Username" pInputText fluid formControlName="username" />
        @if (usernameControl.dirty && usernameControl.hasError('required')) {
          <p-message id="username-required-error" severity="error" variant="simple" size="small"
            >Username is required</p-message
          >
        }
      </div>

      <div class="flex flex-col gap-1">
        <input type="email" placeholder="Email" pInputText fluid formControlName="email" />
        @if (emailControl.dirty) {
          @if (emailControl.hasError('required')) {
            <p-message id="email-required-error" severity="error" variant="simple" size="small"
              >Email is required</p-message
            >
          } @else if (emailControl.hasError('email')) {
            <p-message id="email-invalid-error" severity="error" variant="simple" size="small"
              >Email is invalid</p-message
            >
          }
        }
      </div>

      <div class="flex flex-col gap-1">
        <input type="password" placeholder="Password" pInputText fluid formControlName="password" />
        @if (passwordControl.dirty) {
          @if (passwordControl.hasError('required')) {
            <p-message id="password-required-error" severity="error" variant="simple" size="small"
              >Password is required</p-message
            >
          } @else if (passwordControl.hasError('minlength')) {
            <p-message id="password-length-error" severity="error" variant="simple" size="small"
              >Password must be at least
              {{ passwordControl.getError('minlength').requiredLength }} characters</p-message
            >
          }
        }
      </div>

      <p-button
        label="Sign up"
        styleClass="w-full"
        type="submit"
        [disabled]="form.invalid || form.disabled"
      />
    </form>

    <p id="login-prompt-text" class="text-sm text-surface-400">
      Have an account?
      <a
        class="font-semibold text-amber-500 duration-150 transition-colors hover:text-amber-600"
        routerLink="/login"
        >Sign in</a
      >
    </p>
  </div>
</div>
